In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Reading dataset

In [4]:
category_name = pd.read_csv('/home/hasan/DATA SET/brazilian e-commerce data/1 product_category_name_translation.csv')

In [5]:
category_name.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [6]:
category_name.shape

(71, 2)

### product_category_name_english column

In [7]:
category_name['product_category_name_english'].nunique()

71

In [11]:
pd.set_option('display.max_rows', 100)
category_name['product_category_name_english'].head(71)

0                               health_beauty
1                       computers_accessories
2                                        auto
3                              bed_bath_table
4                             furniture_decor
5                              sports_leisure
6                                   perfumery
7                                  housewares
8                                   telephony
9                               watches_gifts
10                                 food_drink
11                                       baby
12                                 stationery
13                     tablets_printing_image
14                                       toys
15                            fixed_telephony
16                               garden_tools
17                   fashion_bags_accessories
18                           small_appliances
19                             consoles_games
20                                      audio
21                              fashion_shoes
22                                 cool_stuff
23                        luggage_accessories
24                           air_conditioning
25            construction_tools_construction
26    kitchen_dining_laundry_garden_furniture
27                   costruction_tools_garden
28                      fashion_male_clothing
29                                   pet_shop
30                           office_furniture
31                               market_place
32                                electronics
33                            home_appliances
34                             party_supplies
35                               home_confort
36                    costruction_tools_tools
37                 agro_industry_and_commerce
38          furniture_mattress_and_upholstery
39                            books_technical
40                          home_construction
41                        musical_instruments
42                      furniture_living_room
43                  construction_tools_lights
44             industry_commerce_and_business
45                                       food
46                                        art
47                          furniture_bedroom
48                     books_general_interest
49                  construction_tools_safety
50                    fashion_underwear_beach
51                              fashion_sport
52                     signaling_and_security
53                                  computers
54                         christmas_supplies
55                     fashio_female_clothing
56                          home_appliances_2
57                             books_imported
58                                     drinks
59                                 cine_photo
60                                 la_cuisine
61                                      music
62                             home_comfort_2
63      small_appliances_home_oven_and_coffee
64                          cds_dvds_musicals
65                               dvds_blu_ray
66                                    flowers
67                      arts_and_craftmanship
68                        diapers_and_hygiene
69                  fashion_childrens_clothes
70                      security_and_services
Name: product_category_name_english, dtype: object